<div class="col-sm-8 col-sm-offset-2">
    <p>feuille-de-temps-dep works!</p>
    <div *ngIf="depIsLoaded">
    idDep: {{ departement.id }}
    <form [formGroup]="requeteForm" (ngSubmit)="onSendRequest()">
        <mat-form-field class="full-width">
            <input matInput type="number" class="example-right-align" placeholder="Nombre de semaines" 
            formControlName="nbrSemaines" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.nbrSemaines">
                <mat-error class="error-message" *ngIf="requeteForm.get('nbrSemaines').hasError(validation.type) && 
                (requeteForm.get('nbrSemaines').dirty || requeteForm.get('nbrSemaines').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>
        <div class="btn-toolbar">
            <button class="btn btn-danger" type="submit" (click)="onAnnuler()">Retour </button>
            <button class="btn btn-success" [disabled]="requeteForm.invalid" type="submit">Envoyer requête </button>
        </div>
    </form>
    <h3>Requête contenu</h3>
    <pre>{{requeteForm.value | json}}</pre>

    <div class="row">
        <table mat-table [dataSource]="datasourceElements" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employe </th>
                <td mat-cell *matCellDef="let element"> {{element.employe.nom}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="jourDebut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Jour </th>
                <td mat-cell *matCellDef="let element"> {{element.dateEntre | date: 'EEEE le d MMMM y ':timezone:'fr'}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="heureDebut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure Début </th>
                <td mat-cell *matCellDef="let element"> {{element.dateEntre | date: 'HH:mm'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="heureFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure Fin </th>
                <td mat-cell *matCellDef="let element"> {{element.dateSortie | date: 'HH:mm'}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


    <h3>Retour de la requête</h3>
    <pre>{{lignesDeTempsSuggestion | json}}</pre>
    </div>
          
          

</div>


