<div class="col-sm-8 col-sm-offset-2">
    <div *ngIf="depIsLoaded">
    idDep: {{ departement.id }}


    <form [formGroup]="requeteForm" (ngSubmit)="onSendRequest()">   

        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Générer pour la période"
                    formControlName="duree"
                    required
                    [selectMode]="'range'"
                    autocomplete="off"
                    [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
            <owl-date-time #dtRange2></owl-date-time>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Generation Verticale</mat-label>
            <mat-select formControlName="vOpt">
              <mat-option *ngFor="let opt of alignementVOpt" [value]="opt.value">
                {{opt.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Nombre d'heures max par jours" 
            formControlName="setFillMax" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.setFillMax">
                <mat-error class="error-message" *ngIf="requeteForm.get('setFillMax').hasError(validation.type) && 
                (requeteForm.get('setFillMax').dirty || requeteForm.get('setFillMax').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Nombre d'heures minimale pour génerer" 
            formControlName="setFiilMinOnVoid" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.setFillMax">
                <mat-error class="error-message" *ngIf="requeteForm.get('setFiilMinOnVoid').hasError(validation.type) && 
                (requeteForm.get('setFiilMinOnVoid').dirty || requeteForm.get('setFiilMinOnVoid').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>

        

        <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Nombre de semaines" 
            formControlName="nbrSemaines" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.nbrSemaines">
                <mat-error class="error-message" *ngIf="requeteForm.get('nbrSemaines').hasError(validation.type) && 
                (requeteForm.get('nbrSemaines').dirty || requeteForm.get('nbrSemaines').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>

        <div class="btn-toolbar">
            <button class="btn btn-danger" type="submit" (click)="onAnnuler()">Retour </button>
            <button class="btn btn-success" [disabled]="requeteForm.invalid" type="submit">Envoyer requête </button>
        </div>
    </form>
    <h3>Requête contenu</h3>
    <pre>{{requeteForm.value | json}}</pre>

    <div class="row">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="datasourceElements" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Employe </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="jourDebut">
                <th mat-header-cell *matHeaderCellDef> Jour </th>
                <td mat-cell *matCellDef="let element"> {{element.jour | date: 'EEEE le d MMMM y ':timezone:'fr'}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="heureDebut">
                <th mat-header-cell *matHeaderCellDef> Heure Début </th>
                <td mat-cell *matCellDef="let element"> {{element.heureDebut | date: 'HH:mm'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="heureFin">
                <th mat-header-cell *matHeaderCellDef> Heure Fin </th>
                <td mat-cell *matCellDef="let element"> {{element.heureFin | date: 'HH:mm'}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


    <h3>Retour de la requête</h3>
    <pre>{{lignesDeTempsSuggestion | json}}</pre>
    </div>
          
          

</div>


