HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/backend/target/
/demo-ui/target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### serveur contenu ###
/backend/src/main/resources/static/
/frontend/dist/
/frontend/node_modules/
/frontend/node/
/frontend/target/
frontend/.editorconfig

/target/*
