<div class="col-sm-8 col-sm-offset-2">
    <div *ngIf="depIsLoaded">
    idDep: {{ departement.id }}


    <form [formGroup]="requeteForm" (ngSubmit)="onSendRequest()">   

        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Générer pour la période"
                    formControlName="duree"
                    required
                    [selectMode]="'range'"
                    autocomplete="off"
                    [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
            <owl-date-time #dtRange2></owl-date-time>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Generation Verticale</mat-label>
            <mat-select formControlName="vOpt">
              <mat-option *ngFor="let opt of alignementVOpt" [value]="opt.value">
                {{opt.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Nombre d'heures max par jours" 
            formControlName="setFillMax" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.setFillMax">
                <mat-error class="error-message" *ngIf="requeteForm.get('setFillMax').hasError(validation.type) && 
                (requeteForm.get('setFillMax').dirty || requeteForm.get('setFillMax').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Nombre d'heures minimale pour génerer" 
            formControlName="setFiilMinOnVoid" required>
            <mat-error *ngFor="let validation of validationRequeteMessages.setFillMax">
                <mat-error class="error-message" *ngIf="requeteForm.get('setFiilMinOnVoid').hasError(validation.type) && 
                (requeteForm.get('setFiilMinOnVoid').dirty || requeteForm.get('setFiilMinOnVoid').touched)">{{validation.message}}</mat-error>
            </mat-error>   
        </mat-form-field>

        <div class="btn-toolbar">
            <button class="btn btn-danger" type="submit" (click)="onAnnuler()">Retour </button>
            <button class="btn btn-success" [disabled]="requeteForm.invalid" type="submit">Envoyer requête </button>
        </div>
    </form>

    <div class="row" *ngIf="(datasourceElements.data.length > 0)">

        <form [formGroup]="operationForm" (ngSubmit)="onOperation()"> 
            <mat-form-field>
                <mat-label>Sélection de l'opération</mat-label>
                <mat-select formControlName="operation">
                    <mat-option *ngFor="let opt of operationOptMap | keyvalue" [value]="opt.key">
                        {{opt.value.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn btn-success" type="submit"> Appliquer </button>
        </form>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button class="btn btn-success" (click)="onSoumettreLignes()" type="submit"> Soumettre les lignes de temps aprouvées</button>
        <table mat-table [dataSource]="datasourceElements" class="mat-elevation-z8">


            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
                </td>
            </ng-container>

            
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Employe </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
            
            <ng-container matColumnDef="jourDebut">
                <th mat-header-cell *matHeaderCellDef> Jour </th>
                <td mat-cell *matCellDef="let element"> {{element.jour | date: 'EEEE le d MMMM y ':timezone:'fr'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="heureDebut">
                <th mat-header-cell *matHeaderCellDef> Heure Début </th>
                <td mat-cell *matCellDef="let element"> {{element.heureDebut | date: 'HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="heureFin">
                <th mat-header-cell *matHeaderCellDef> Heure Fin </th>
                <td mat-cell *matCellDef="let element"> {{element.heureFin | date: 'HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef> Statut </th>
                <td mat-cell *matCellDef="let element"> {{ element.statutTexte }} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'bg-success': row.statut == StatutLigne.Approved, 
                'bg-danger': row.statut == StatutLigne.Disaproved }"></tr>
        </table>
    </div>
    <h2>tableau</h2>
    <pre>
        {{ datasourceElements.data | json }}
    </pre>



</div>


