<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enregistrer un nouvel individu</h2>
        <form [formGroup]="individuForm" (ngSubmit)="onSaveIndividu()">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Prénom" formControlName="prenom" required>
                        <mat-error *ngFor="let validation of validation_messages.prenom">
                            <mat-error class="error-message" *ngIf="individuForm.get('prenom').hasError(validation.type) && 
                            (individuForm.get('prenom').dirty || individuForm.get('prenom').touched)">{{validation.message}}</mat-error>
                        </mat-error>   
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nom de famille" formControlName="nom" required>
                        <mat-error *ngFor="let validation of validation_messages.nom">
                            <mat-error class="error-message" *ngIf="individuForm.get('nom').hasError(validation.type) && 
                            (individuForm.get('nom').dirty || individuForm.get('nom').touched)">{{validation.message}}</mat-error>
                        </mat-error>   
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Ville" formControlName="ville" required>
                        <mat-error *ngFor="let validation of validation_messages.ville">
                            <mat-error class="error-message" *ngIf="individuForm.get('ville').hasError(validation.type) && 
                            (individuForm.get('ville').dirty || individuForm.get('ville').touched)">{{validation.message}}</mat-error>
                        </mat-error>   
                    </mat-form-field>
                </div>
            </div>

            <button *ngIf="!individuForm.get('employe')" style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="addEmployeForm()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Rendre l'individu employé
            </button>
            <button *ngIf="individuForm.get('employe')" style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="removeEmployeForm()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Retirer le statut d'employé
            </button>
            <div *ngIf="individuForm.get('employe')" formGroupName="employe">
                <mat-form-field>
                    <input matInput placeholder="TitrePoste" formControlName="titrePoste" required>
                    <mat-error *ngFor="let validation of validation_employe_messages.titrePoste">
                        <mat-error class="error-message" *ngIf="individuForm.get('employe').get('titrePoste').hasError(validation.type) && 
                        (individuForm.get('employe').get('titrePoste').dirty || individuForm.get('employe').get('titrePoste').touched)">{{validation.message}}</mat-error>
                    </mat-error>   
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Horaire" formControlName="horaire" required>
                    <mat-error *ngFor="let validation of validation_employe_messages.horaire">
                        <mat-error class="error-message" *ngIf="individuForm.get('employe').get('horaire').hasError(validation.type) && 
                        (individuForm.get('employe').get('horaire').dirty || individuForm.get('employe').get('horaire').touched)">{{validation.message}}</mat-error>
                    </mat-error>   
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" placeholder="Heures semaine" formControlName="heureSemaine" required>
                    <mat-error *ngFor="let validation of validation_employe_messages.heureSemaine">
                        <mat-error class="error-message" *ngIf="individuForm.get('employe').get('heureSemaine').hasError(validation.type) && 
                        (individuForm.get('employe').get('heureSemaine').dirty || individuForm.get('employe').get('heureSemaine').touched)">{{validation.message}}</mat-error>
                    </mat-error>   
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" class="example-right-align" placeholder="Salaire horaire" formControlName="tauxHoraire" required>
                    <span matSuffix>$&nbsp;</span>
                    <mat-error *ngFor="let validation of validation_employe_messages.tauxHoraire">
                        <mat-error class="error-message" *ngIf="individuForm.get('employe').get('tauxHoraire').hasError(validation.type) && 
                        (individuForm.get('employe').get('tauxHoraire').dirty || individuForm.get('employe').get('tauxHoraire').touched)">{{validation.message}}</mat-error>
                    </mat-error>   
                </mat-form-field>
            </div>

            <div formArrayName="contact">
                <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="addNewContact()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un Contact
                </button>
                <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let contac of individuForm.get('contact').controls; let i=index">
                    <div class="row">
                        
                        <div class="col-sm-8">
                            <h3 class="text-center">Contact {{i+1}}:</h3>
                        </div>
                        <div class="col-sm-4">
                                <button type="button" class="btn btn-danger pull-right" (click)="deleteContact(i)">
                                    <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Enlever Contact
                                </button>
                            </div>
                    </div>
                    
                    <div [formGroupName]="i">
                        <div class="form-inline">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Prénom" formControlName="prenom" required>
                                        <mat-error *ngFor="let validation of validation_contact_messages.prenom">
                                            <mat-error class="error-message" *ngIf="contac.get('prenom').hasError(validation.type) && 
                                            (contac.get('prenom').dirty || contac.get('prenom').touched)">{{validation.message}}</mat-error>
                                        </mat-error>   
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nom" formControlName="nom" required>
                                        <mat-error *ngFor="let validation of validation_contact_messages.nom">
                                            <mat-error class="error-message" *ngIf="contac.get('nom').hasError(validation.type) && 
                                            (contac.get('nom').dirty || contac.get('nom').touched)">{{validation.message}}</mat-error>
                                        </mat-error>   
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Ville" formControlName="ville" required>
                                        <mat-error *ngFor="let validation of validation_contact_messages.ville">
                                            <mat-error class="error-message" *ngIf="contac.get('ville').hasError(validation.type) && 
                                            (contac.get('ville').dirty || contac.get('ville').touched)">{{validation.message}}</mat-error>
                                        </mat-error>   
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <pre>{{individuForm.value | json}}</pre>

            <div class="btn-toolbar">
                <button class="btn btn-danger" type="submit" (click)="onAnnuler()">Annuler </button>
                <button class="btn btn-success" [disabled]="individuForm.invalid" type="submit">Enregistrer </button>
            </div>
        </form> 
    </div>
</div>
